<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block pagetitle %}{% endblock %}</title>
    <!-- load static -->
    {% load static %}
    <!-- CSS -->
    <link href="{% static 'bootstrap.min.css' %}" rel="stylesheet">
    <!-- JS -->
    <!-- <script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script> -->
    <script type="text/javascript" src="/static/color-modes.js"></script>
    <script type="text/javascript" src="/static/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
    <script type="text/javascript" src="/static/sidebars.js"></script>
    <!-- Favicons -->
    <link rel="icon" href="/static/favicon_guitar.svg" sizes="180x180">

    <!-- <link href="/static/base.page.style.css" rel="stylesheet"> -->
    

</head>
<body>
<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-body-tertiary sidebar collapse">
        <div class="position-sticky pt-3 sidebar-sticky">
                <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
                    <!-- <img src="{% static 'another_guitar.svg' %}" width="32" height="32"/> -->
                    <span  style="font-size: xx-large; font-family: 'Times New Roman', Times, serif; color:  rgb(26, 26, 198); margin-left:1.25em">  Learn<span style="color: red">E</span>ng</span>
                </a>
                <hr>
            <ul class="nav nav-pills flex-column mb-auto">
                <li class="nav-item">
                    <a href="/" class="nav-link active" aria-current="page">
                    <img src="{% static 'house-door-fill.svg' %}" width="32" height="32"/>
                    <span class="fs-4">Home</span>
                    </a>
                </li>
                <li>
                    <a href="/info-page" class="nav-link link-body-emphasis">
                    <img src="{% static 'about.svg' %}" width="32" height="32"/>
                    <span class="fs-4">About</span>
                    </a>
                </li>
                <li>
                    <a href="/grammar-page" class="nav-link link-body-emphasis">
                    <img src="{% static 'grammar.svg' %}" width="32" height="32"/>
                    <span class="fs-4">Grammar</span>
                    </a>
                </li>
                <li>
                    <a href="/vocabulary-page" class="nav-link link-body-emphasis">
                    <img src="{% static 'vocabulary.svg' %}" width="32" height="32"/>
                    <span class="fs-4">Vocabulary</span>
                    </a>
                </li>
                <li>
                    <a href="/tests-page" class="nav-link link-body-emphasis">
                    <img src="{% static 'tests.svg' %}" width="32" height="32"/>
                    <span class="fs-4">Tests</span>
                    </a>
                </li>
                <li>
                    <a href="/dict-main" class="nav-link link-body-emphasis">
                    <img src="{% static 'dict.svg' %}" width="32" height="32"/>
                    <span class="fs-4">Dictionary</span>
                    </a>
                </li>
                </ul>
        </div>
        </nav>
    
        <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <header class="dropdown" data-bs-theme="light">
            <div class="text-bg-light collapse" id="navbarHeader">
                <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-md-7 py-4">
                    <h4>About</h4>
                    <p class="text-body-secondary"><span style="color: rgb(22, 18, 148);">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</span></p>
                    </div>
                    <div class="col-sm-4 offset-md-1 py-4">
                    <h4>Contact</h4>
                    <ul class="list-unstyled">
                        <li><a href="#" class="text-black">Follow on Twitter</a></li>
                        <li><a href="#" class="text-black">Like on Facebook</a></li>
                        <li><a href="#" class="text-black">Email me</a></li>
                    </ul>
                    </div>
                </div>
                </div>
            </div>
            <div class="navbar navbar-light bg-light shadow-sm">
                <div class="container">
                <a href="#" class="navbar-brand d-flex align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="me-2" viewBox="0 0 24 24"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/></svg>
                    <strong>Album</strong>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                </div>
            </div>
        </header>

        <section class="py-5 text-center container">
            <div class="row py-lg-5">
              <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-bold">{% block page-title %}{% endblock %}</h1>
                <p class="lead text-body-secondary">{% block page-lead %}{% endblock %}</p>
                <!-- <p>
                  <a href="#" class="btn btn-primary my-2">Main call to action</a>
                  <a href="#" class="btn btn-secondary my-2">Secondary action</a>
                </p> -->
              </div>
            </div>
        </section>
        {% block content %}{% endblock %}
        <footer class="footer pt-3 mt-4 text-muted border-top">© 2023</footer>
        
        </div>
        </main>
    </div>
    </div>
</body>
</html>