{% extends "base_page.html" %}

{% block page-title %}
Ваш словарь
{% endblock %}

{% block page-lead %}
На этой странице вы можете добавлять новые изученные слова в словарь и проводить статистику.
{% endblock %}
  

{% block content %}
<h2 class="pb-2 border-bottom">See the words that have already been added to the dictionary</h2>
<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="/static/another_guitar.svg" alt="" width="72" height="57">
    <h1 class="display-5 fw-bold text-body-emphasis">See the dictionary</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">You may edit a column with examples if some mistakes were made while adding a word. Also you can easily delete a row if the word is no more interesting for you.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="/word-list">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">See the words</button>
        </a>
      </div>
    </div>
  </div>
<br><br>
<h2 class="pb-2 border-bottom">Add your own words</h2>
<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="/static/another_guitar.svg" alt="" width="72" height="57">
    <h1 class="display-5 fw-bold text-body-emphasis">Add words</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">You are welcome to add any new words you like. Just fill in a small form.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="/add-word">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Add words</button>
      </div>
    </div>
  </div>
<br><br>
{% endblock %}