{% extends "base_page.html" %}

{% block page-title %}
COMPARISON OF ADJECTIVES
{% endblock %}

{% block page-lead %}
Comparing things between each other is what we can't live without
{% endblock %}
  

{% block content %}
<h2 class="pb-2 border-bottom">Comparative and superlative forms</h2>
<div class="row mb-3 text-center">
    <div class="col-md-6">
        <h2 class="pb-2">Regular adjectives</h2>
        <div class="table-responsive">
            <table class="table table-success table-striped table-bordered border-warning table-sm">
              <thead>
                <tr class="table-warning border border-warning">
                  <th scope="col">Adjective</th>
                  <th scope="col">Comparative</th>
                  <th scope="col">Superlative</th>
                </tr>
              </thead>
              <tbody>
                <tr class="border border-warning">
                    <td class="py-3">One-syllable adjective<br>
                        long<br>
                        short<br>
                        smart<br>
                    </td>
                    <td class="py-3"> + <span style="color: red;">-er</span><br>
                        long<span style="color: red;">er</span><br>
                        short<span style="color: red;">er</span><br>
                        smart<span style="color: red;">er</span><br>
                    </td>
                    <td class="py-3"> <span style="color: red;">the</span> + <span style="color: red;">-est</span><br>
                        <span style="color: red;">the</span> long<span style="color: red;">est</span><br>
                        <span style="color: red;">the</span> short<span style="color: red;">est</span><br>
                        <span style="color: red;">the</span> smart<span style="color: red;">est</span><br>
                    </td>
                </tr>
                <tr class="border border-warning">
                    <td class="py-3">Two-syllable adjective <br> ending with "y"<br>
                        happy<br>
                        heavy<br>
                    </td>
                    <td class="py-3"> + <span style="color: red;">-ier</span><br>
                        happ<span style="color: red;">ier</span><br>
                        heav<span style="color: red;">ier</span><br>
                    </td>
                    <td class="py-3"> <span style="color: red;">the</span> + <span style="color: red;">-iest</span><br>
                        <span style="color: red;">the</span> happ<span style="color: red;">iest</span><br>
                        <span style="color: red;">the</span> heav<span style="color: red;">iest</span><br>
                    </td>
                </tr>
                <tr class="border border-warning">
                    <td class="py-3">Multy-syllable adjective<br>
                        beautiful<br>
                        dangerous<br>
                    </td>
                    <td class="py-3"> <span style="color: red;">more</span> +<br>
                        <span style="color: red;">more</span> beautiful<br>
                        <span style="color: red;">more</span> dangerous<br>
                    </td>
                    <td class="py-3"> <span style="color: red;">the</span> + <span style="color: red;">most</span> +<br>
                        <span style="color: red;">the</span> <span style="color: red;">most</span> beautiful<br>
                        <span style="color: red;">the</span> <span style="color: red;">most</span> dangerous<br>
                    </td>
                </tr>
              </tbody>
        </table>
        </div>
        </div>
        
        <div class="col-md-6">
        <h2 class="pb-2">Irregular adjectives/adverbs</h2>
        <div class="table-responsive">
            <table class="table table-danger table-striped table-bordered border-danger table-sm">
                <thead>
                    <tr class="table-warning border border-danger">
                      <th scope="col">Adjective</th>
                      <th scope="col">Comparative</th>
                      <th scope="col">Superlative</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="table-danger border border-danger">
                        <td class="py-3">
                            good
                        </td>
                        <td class="py-3">
                            better
                        </td>
                        <td class="py-3"> the best
                        </td>
                    </tr>
                    <tr class="table-danger border border-danger">
                        <td class="py-3"> bad
                        </td>
                        <td class="py-3"> worse
                        </td>
                        <td class="py-3"> the worst
                        </td>
                    </tr>
                    <tr class="table-danger border border-danger">
                        <td class="py-3">far
                        </td>
                        <td class="py-3"> further
                        </td>
                        <td class="py-3"> the furthest
                        </td>
                    </tr>
                    <tr class="table-danger border border-danger">
                        <td class="py-3"> little
                        </td>
                        <td class="py-3"> less
                        </td>
                        <td class="py-3"> the least
                        </td>
                    </tr>
                    <tr class="table-danger border border-danger">
                        <td class="py-3"> much
                        </td>
                        <td class="py-3"> more
                        </td>
                        <td class="py-3"> the most
                        </td>
                    </tr>
                    <tr class="table-danger border border-danger">
                        <td class="py-3"> old (about people)/<br> old (anout things)
                        </td>
                        <td class="py-3"> elder/<br>older
                        </td>
                        <td class="py-3"> the eldest/<br>the oldest
                        </td>
                    </tr>
                  </tbody>
        </table>
        </div>
        </div>
        <br><br>
        
        </div>


<h2 class="pb-2 border-bottom">Now check yourself solving a small test.</h2>
<div class="d-grid gap-2">
    <a href="/test-adject-1" class="btn btn-primary" role="button">Go to the test</a>
    </button>

</div>
{% endblock %}