{% extends "base_page.html" %}

{% block page-title %}
Главная страница
{% endblock %}

{% block page-lead %}
Это страничка проекта про изучение английского языка. <br/>
Проектная работа в рамках курса "Программирование на Python".
{% endblock %}
  

{% block content %}
<link href="/static/features.css" rel="stylesheet">

<div class="b-example-divider"></div>

  <div class="container px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom">Site contents</h2>

    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('/static/main.jpg');">
          <a href="/" class="stretched-link" id="cardlink"></a>
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h3 class="pt-5 mt-2 mb-4 display-6 lh-1 fw-bold" style="color:white">MAIN PAGE</h3>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('/static/reqInfo.webp');">
          <a href="/info-page" class="stretched-link" id="cardlink"></a>
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold" style="color:black"></h3>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('/static/grammar.jpg');">
          <a href="/grammar-page" class="stretched-link" id="cardlink"></a>
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h3 class="pt-5 mt-0.1 mb-4 display-6 lh-1 fw-bold" style="color:rgb(241, 207, 39)">GRAMMAR</h3>
          </div>
        </div>
      </div>
      
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('/static/vocabulary.jpg');">
          <a href="/vocabulary-page" class="stretched-link" id="cardlink"></a>
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('/static/tests.jpg');">
          <a href="/tests-page" class="stretched-link" id="cardlink"></a>
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h3 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold" style="color:rgb(233, 85, 85)">TESTS</h3>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-bg-dark rounded-4 shadow-lg" style="background-image: url('/static/dictionary.jpg');">
          <a href="/add-words-dict" class="stretched-link" id="cardlink"></a>
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
          </div>
        </div>
      </div>

    </div>
  </div>
{% endblock %}