{% extends "base_page.html" %}

{% block page-title %}
Информационная страница
{% endblock %}

{% block page-lead %}
Здесь можно ознакомиться с основными возможностями, которые предоставляет веб-страница.
{% endblock %}
  

{% block content %}
<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-primary-subtle" style="border-radius: 2ch;">
    <div class="col-md-7 p-lg-5 mx-auto my-5">
      <h1 class="display-4 fw-normal">ImLearnEng</h1>
      <p class="lead fw-normal">This web-application allows one to revise some basic English vocabulary and grammar. At this moment the site has not so much content as its the first author's experience in working at such a project.</p>
      <p class="lead fw-normal">A possible usage of this site is reading some proposed texts on different topics, revising grammar used in them and doing practise on "Tests" page.</p>
      <p class="lead fw-normal">Moreover, you may keep your own dictionary, adding new words along with their translations and examples of using.</p>
    </div>
    <div class="product-device shadow-sm d-none d-md-block"></div>
    <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
  </div>
{% endblock %}