{% extends "base_page.html" %}

{% block page-title %}
Страница для тестирования некоторых тем
{% endblock %}

{% block page-lead %}
На этой странице можно пройти тесты по грамматике.
{% endblock %}

{% block content %}
<div class="row g-5">
    <div class="col-md-8">
      <h2 class="text-body-emphasis">Grammar</h2>
      <p style="font-size: large;">Try your skills in different grammar topics. Each test contains several questions and you can immediatly see whether you are right or wrong. Just click the button "Submit Answer".</p>
      <ul class="list-unstyled ps-0">
        <li>
          <a class="icon-link mb-1" href="/test-conditionals-1">
            <svg class="bi" width="25" height="25"><use xlink:href="#arrow-right-circle"></use></svg>
            <p style="font-size: large;"># 1. Conditionals</p>
          </a>
        </li>
      </ul>
      <ul class="list-unstyled ps-0">
        <li>
          <a class="icon-link mb-1" href="/test-adject-1">
            <svg class="bi" width="25" height="25"><use xlink:href="#arrow-right-circle"></use></svg>
            <p style="font-size: large;"># 2. Comparison of adjectives</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}