{% extends "base_page.html" %}

{% block page-title %}
Test # 2
{% endblock %}

{% block page-lead %}
Adjectives
{% endblock %}


{% block content %}
<link href="/static/exersises.css" rel="stylesheet">
<div>
        <h1>Exercise 1:</h1>
        <div id="assignmenttext" style="display: block;">
          <p>Fill in with the right form of an adjective given in brackets.</p>
    
          <div id="assignmentcode" style="display: none;">
            She is the most @(11) woman I have ever met (wonderful). I cannot stop thinking of her.
          </div>
          
          <div id="correctcode">
            She is the most wonderful woman I have ever met (wonderful). I cannot stop thinking of her.
          </div>
        </div>

        <div id="blueprint"></div>
    
    <div style="position:relative;width:100%;">
      <div id="assignmentNotCorrect" onclick="closeNotCorrect(event)">
        <h2>Not Correct</h2>
        <p>Click <u>here</u> to try again.</p>   
      </div>
      <div id="assignmentCorrect">
        <h2>Correct!</h2>
        <span style="cursor:pointer" id="correctnextbtn">Next ❯
          <a href="/test-adject-2" class="stretched-link"></a>
        </span>
      </div>
        <pre id="assignmentcontainer" style="overflow:auto">
            She is the <pre class="meassureInputWidth" style="display: none;">w3exercise_input_no_0</pre><input spellcheck="false" class="editablesection" onkeypress="checkKey(event)" oninput="writinginput(this, 0)" maxlength="20" style="width: 110px;"> woman I have ever met (wonderful). I cannot stop thinking of her.
        </pre>
    </div>
    
    <br>
    <div id="answerbuttoncontainer">
        <button id="answerbutton" class="w3s-exercisebtn" type="button" onclick="checkassignmentcode()">Submit Answer ❯</button>
    </div>

    <script type="text/javascript" src="/static/check_answers.js"></script>
    <script type="text/javascript" src="/static/check_answers_boxes.js"></script>
    
</div>
{% endblock %}