{% extends "base_page.html" %}

{% block page-title %}
Страница для тестирования некоторых тем
{% endblock %}

{% block page-lead %}
На этой странице можно пройти тесты по грамматике и лексике.
{% endblock %}
  

{% block content %}
<div class="row g-5">
    <div class="col-md-6">
      <h2 class="text-body-emphasis">Grammar</h2>
      <p>Try your skills in different grammar topics. Every test contains several questions and you can immediatly see whether you are right or wrong. Just click the button "Submit Answer".</p>
      <ul class="list-unstyled ps-0">
        <li>
          <a class="icon-link mb-1" href="/test-conditionals-1">
            <svg class="bi" width="25" height="25"><use xlink:href="#arrow-right-circle"></use></svg>
            # 1. Conditionals
          </a>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}