{% extends "base_page.html" %}

{% block page-title %}
SEASONS AND WEATHER
{% endblock %}

{% block page-lead %}
See what speech techniques help us to describe the outer world.
{% endblock %}
  

{% block content %}
<h2 class="pb-2 border-bottom">A table with some important words</h2>
<div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Word in English</th>
          <th scope="col">Word in Russian</th>
          <th scope="col">Examples</th>
        </tr>
      </thead>
      <tbody>
        {% for cnt, word, translation, example in words %}
        <tr>
            <td class="py-3">{{ cnt }}</td>
            <td class="py-3">{{ word }}</td>
            <td class="py-3">{{ translation }}</td>
            <td class="py-3">{{ example }}</td>
        </tr>
        {% endfor %}
      </tbody>
</table>
<br><br>
<h2 class="pb-2 border-bottom">Look at the pictures below for more examples</h2>
<div class="album py-5 bg-body-tertiary">
  <div class="container">

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <div class="col">
        <div class="card shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
            <rect width="100%" height="100%" fill="white"/>
            <image href="/static/sunny.svg" width="100%" height="250" class="d-block w-100"/>
          </svg>
          <div class="card-body">
            <p class="card-text"><span class="fw-bold" style="color: red">The sun shines</span> bright. <span class="fw-bold" style="color: red">If you forget</span> an umbrella at home, <span class="fw-bold" style="color: red">you may get</span> a heatstroke.</p>
            <div class="d-flex justify-content-between align-items-center">
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
            <rect width="100%" height="100%" fill="white"/>
            <image href="/static/snowy.svg" width="100%" height="250" class="d-block w-100"/>
          </svg>
          <div class="card-body">
            <p class="card-text">It is a <span class="fw-bold" style="color: red">nice frosty</span> winter day. <span class="fw-bold" style="color: red">Water freeses</span> in winter and <span class="fw-bold" style="color: red">ice melts</span> in spring.</p>
            <div class="d-flex justify-content-between align-items-center">
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card shadow-sm">
          <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
            <rect width="100%" height="100%" fill="white"/>
            <image href="/static/cats.svg" width="100%" height="250" class="d-block w-100"/>
          </svg>
          <div class="card-body">
            <p class="card-text"><span class="fw-bold" style="color: red">It is heavy raining</span> outside. If it <span class="fw-bold" style="color: red">did not rain</span>, we <span class="fw-bold" style="color: red">would go</span> for a walk in the park.</p>
            <div class="d-flex justify-content-between align-items-center">
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<br><br>
<article class="blog-post" style="font-size: x-large;">
  <h2 class="blog-post-title mb-1">Phrases for Talking about Weather</h2>
  <p class="blog-post-meta" style="color: rgb(101, 5, 160);">In Britain, it is considered rude to ask personal questions. At the same time silence is also rude. So the weather is a very convenient topic ‘to fill the gap‘

  <p>This is the most important topic in the land. On the Continent, people usually say, ‘He is the type <span class="fst-italic" style="font-weight: bold;">who would discuss the weather with</span>,’ to describe someone who is very boring. In England, this is an ever-interesting, even thrilling topic, and you must be good at discussing the weather.</p>
  <blockquote>
    <p>There is a very important rule: you must never contradict anybody when discussing the weather. <span class="fst-italic" style="font-weight: bold">Should it hail and snow</span>, <span class="fst-italic" style="font-weight: bold">should hurricanes uproot the trees</span> from the sides of the road, and should someone say to you: ‘Nice day, isn’t it?’ — answer without hesitation: ‘Isn’t it lovely?’</p>
  </blockquote>
  <p><u>Phrases For Good Weather:</u>
    ‘<span class="fst-italic" style="font-weight: bold">Lovely</span> day, isn’t it?’ ‘Isn’t it <span class="fst-italic" style="font-weight: bold">beautiful</span>?’ ‘The sun…’ ‘Isn’t it <span class="fst-italic" style="font-weight: bold">gorgeous</span>?’ ‘<span class="fst-italic" style="font-weight: bold">Wonderful</span>, isn’t it?’ ‘It’s so nice and hot…’ ‘Personally, I think it’s so nice when it’s hot, isn’t it?’</p>
  <p><u>Phrases For Bad Weather:</u>
    ‘<span class="fst-italic" style="font-weight: bold">Nasty</span> day, isn’t it?’ ‘Isn’t it <span class="fst-italic" style="font-weight: bold">dreadful</span>?’ ‘The rain… I hate rain…»I don’t like it at all. Do you?’
    ‘Just think — such a day in July. Rain in the morning, then <span class="fst-italic" style="font-weight: bold">a bit of sunshine</span>, and then rain, rain, rain, <span class="fst-italic" style="font-weight: bold">all day long</span>.’</p>
  <p>Learn these phrases by heart. <span class="fst-italic" style="font-weight: bold">If you are a bit slow</span> in picking things up, <span class="fst-italic" style="font-weight: bold">learn</span> at least one conversation, <span class="fst-italic" style="font-weight: bold">it would do</span> wonderfully for any occasion.  <span class="fst-italic" style="font-weight: bold">If you do not say</span> anything else for the rest of your life, just  <span class="fst-italic" style="font-weight: bold">repeat</span> this conversation, you still have a fair chance of passing as a witty man of sharp intellect, keen observation and extremely pleasant manners.</p>
</article>
{% endblock %}