{% extends "base_page.html" %}

{% block page-title %}
Страница с лексикой
{% endblock %}

{% block page-lead %}
Данная веб-страница посвящена некоторым темам для расширения лексики английского языка.
{% endblock %}
  

{% block content %}
<style>
  a {
    text-decoration: none !important;
    color: rgb(104, 57, 153);
  }
  
</style>
<link href="/static/carousel.css" rel="stylesheet">

<div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
          <rect width="100%" height="100%" fill="var(--bs-secondary-color)"/>
          <image href="/static/blue_bubbles.svg" width="100%" class="d-block w-100"/>
        </svg>
        <div class="container">
          <div class="carousel-caption text-start">
            <h1 style="color:rgb(0, 0, 0)">Choose a topic that is most interesting to you.</h1>
            <p style="color:rgb(0, 0, 0)">Here you can find a variety of topics.</p>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
          <rect width="100%" height="100%" fill="var(--bs-secondary-color)"/>
          <image href="/static/blue_bubbles.svg" width="100%" class="d-block w-100"/>
        </svg>
        <div class="container">
          <div class="carousel-caption text-start">
            <h1 style="color:rgb(0, 0, 0)">Go to the chosen page and see the contents prepared for you.</h1>
            <p style="color:rgb(0, 0, 0)">Each topic page has a table with a list of most important and popular words and their combinations.</p>
          </div>
        </div>
      </div>

      <div class="carousel-item">
        <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
          <rect width="100%" height="100%" fill="var(--bs-secondary-color)"/>
          <image href="/static/blue_bubbles.svg" width="100%" class="d-block w-100"/>
        </svg>
        <div class="container">
          <div class="carousel-caption text-start">
            <h1 style="color:rgb(0, 0, 0)">After exploring the table try to read the proposed text.</h1>
            <p style="color:rgb(0, 0, 0)">This part of the page is for upgrading your reading skills. For more practice see "Tests" page.</p>
          </div>
        </div>
      </div>
      
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
</div>

<!-- START THE FEATURETTES -->

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7">
    <h2 class="featurette-heading fw-normal lh-1">
       <a href="/vocab-season-page">Seasons and weather.</a>
       <span class="text-body-secondary">See what speech techniques help us to describe the outer world.</span></h2>
    <p class="lead">Active grammar: impersonal and report speech. Zero, first and second conditionals.</p>
  </div>
  <div class="col-md-5">
    <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img"  preserveAspectRatio="xMidYMid slice" focusable="false">
      <rect width="100%" height="100%" fill="white"/>
      <image href="/static/seasons.svg" width="100%" height="100%" class="d-block w-100"/>
    </svg>
  </div>
</div>

<hr class="featurette-divider">

<div class="row featurette">
  <div class="col-md-7 order-md-2">
    <h2 class="featurette-heading fw-normal lh-1">
      <a href="/vocab-appear-page">Appearance and clothes.</a>
      <span class="text-body-secondary">Learn new words about the way we look like.</span></h2>
    <p class="lead">Active grammar: adjective degrees.</p>
  </div>
  <div class="col-md-5 order-md-1">
    <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img"  preserveAspectRatio="xMidYMid slice" focusable="false">
      <rect width="100%" height="100%" fill="white"/>
      <image href="/static/appear.svg" width="100%" height="100%" class="d-block w-100"/>
    </svg>
  </div>
</div>

<!-- /END THE FEATURETTES -->

{% endblock %}