{% extends "base_page.html" %}

{% block page-title %}
Список добавленных слов
{% endblock %}

{% block page-lead %}
Для добавления новых слов перейдите по ссылке под таблицей.
{% endblock %}
  

{% block content %}
<!-- <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/dataTables.bootstrap5.min.css"> -->

<!-- <table id="example" class="table table-striped" style="width:100%">
    <thead>
        <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Age</th>
            <th>Start date</th>
            <th>Salary</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Tiger Nixon</td>
            <td>System Architect</td>
            <td>Edinburgh</td>
            <td>61</td>
            <td>2011-04-25</td>
            <td>$320,800</td>
        </tr>
        <tr>
            <td>Garrett Winters</td>
            <td>Accountant</td>
            <td>Tokyo</td>
            <td>63</td>
            <td>2011-07-25</td>
            <td>$170,750</td>
        </tr>
        <tr>
            <td>Ashton Cox</td>
            <td>Junior Technical Author</td>
            <td>San Francisco</td>
            <td>66</td>
            <td>2009-01-12</td>
            <td>$86,000</td>
        </tr>
        
</table>

<script type="text/javascript" src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script> -->
<!-- <script type="text/javascript" src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script> -->
<!-- <script type="text/javascript" src="/static/nicetable.js"></script> -->

<!-- ------------------------------------------------------------------------------------------------------------------------------------------------------ -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.4.1.js"></script>

<style>
	.hidden{
        display:none;
    }

    .result{
    	max-width:80px; 
    }

</style>

<div class="row">

    
	<div class="col-md-12"></div>

	    <div class="col-md-12">

		    <div class="card card-body">
				
				<!-- Form Wrapper & Button -->
			<button class="btn btn-sm btn-primary" id="add-word">Add word</button>
			<div class="form-wrapper hidden">
				<select class="form-control" id="word-name">
					<option>----------</option>
					<option>Flash Point</option>
					<option>Water</option>
					<option>Distillation</option>
				</select>
				<input class="form-control" type="text" id="word-result">
				<button class="btn btn-sm btn-info" id="create-word">Add</button>
			</div>

                <div class="table-responsive">
					<table class="table table-striped table-sm">
                    <thead>
                        <tr>
						<th scope="col" class="py-3">#</th>
                        <th scope="col" class="py-3">Word</th>
                        <th scope="col" class="py-3">Translation</th>
                        <th scope="col" class="py-3">Example</th>

                        </tr>
                    </thead>
                    <tbody id="words-table">
                        <!-- {% for cnt, word, translation, example in words %}
            			<tr>
							<td class="py-3">{{ cnt }}</td>
							<td class="py-3">{{ word }}</td>
							<td class="py-3">{{ translation }}</td>
							<td class="py-3">{{ example }}</td>
            			</tr>
            			{% endfor %} -->
                    </tbody>
                    </table>
                </div>

		    </div>

	</div>

	<div class="col-md-12"></div>

</div>

<script>

	var newId = 1
	var newWord = {'id':`word-${newId}`, 'wd':null, 'translation':null, 'example':null}

	// $('#add-word').on('click', function() {
	// 	$(`.form-wrapper`).removeClass('hidden')
	// })

	$('#word-id').on('change', function(){
		newWord.id = $(this).val()
		console.log(newTest)
	})

	$('#word-wd').on('keyup', function() {
		newWord.wd = $(this).val()
		console.log(newWord)
	})

	$('#word-translation').on('keyup', function() {
		newWord.translation = $(this).val()
		console.log(newWord)
	})

	$('#word-example').on('keyup', function() {
		newWord.example = $(this).val()
		console.log(newWord)
	})

	// $('#create-word').on('click', function(){
	// 	if(newWord.name == null) {
	// 		alert('No word selected!')
	// 	} else {
	// 		addRow(newWord)
	// 		$(`#word-name`).val('')
	// 		$(`#word-example`).val('')
	// 		$(`.form-wrapper`).removeClass('hidden')
	// 	}
	// })

	var words = []

	var dataURL = 'words-api'
	$.ajax({
		method:'GET',
		url:dataURL,
		success:function(response) {
			words = response
			console.log(words)
			for (var i in words){
				addRow(words[i])
			}
		}
	})

	function update_word_POST(data) {
		var url = '/update-word'

		$.ajax({
			method:'POST',
			url:url,
			data:data,
			success:function() {

			}
		})
	}

	function update_translation_POST(data) {
		var url = '/update-translation'

		$.ajax({
			method:'POST',
			url:url,
			data:data,
			success:function() {

			}
		})
	}

	function delete_word(data) {
		var url = '/delete-word'

		$.ajax({
			method:'POST',
			url:url,
			data:data,
			seuccess:function() {

			}
		})
	}

	function addRow(obj){
		var row = `<tr scope="row" class="word-row-${obj.id}">
	    			   <td>${obj.id}</td>
	    			   <td id="wd-${obj.id}" data-wordid="${obj.id}">${obj.wd}</td>
	    			   <td id="translation-${obj.id}" data-wordid="${obj.id}">${obj.translation}</td>
	                   <td id="example-${obj.id}" data-wordid="${obj.id}">${obj.example}</td>
	                   <td>
	                   		<button class="btn btn-sm btn-danger" data-wordid="${obj.id}" id="delete-${obj.id}">Delete</button>
	                   		<button class="btn btn-sm btn-info" disabled data-wordid="${obj.id}" id="save-${obj.id}">Save</button>

	                   		<button class="btn btn-sm btn-danger hidden" data-wordid="${obj.id}" id="cancel-${obj.id}">Cancel</button>
	                   		<button class="btn btn-sm btn-primary hidden" data-wordid="${obj.id}" id="confirm-${obj.id}">Confirm</button>

	                   </td>
	    		   </tr>`
		$('#words-table').append(row)

        $(`#delete-${obj.id}`).on('click', deleteWord)
        $(`#cancel-${obj.id}`).on('click', cancelDeletion)
        $(`#confirm-${obj.id}`).on('click', confirmDeletion)
		$(`#save-${obj.id}`).on('click', saveUpdate)
        
		$(`#wd-${obj.id}`).on('click', editWord)
		$(`#translation-${obj.id}`).on('click', editTranslation)
        $(`#example-${obj.id}`).on('click', editExample)

	}

	function editWord() {
        var wordid = $(this).data('wordid')
        var value = $(this).html()

        $(this).unbind()
        $(this).html(`<input class="wd form-control" data-wordid="${wordid}" id="wd-${wordid}" type="text" value="${value}">`)

        $(`.wd`).on('keyup', function() {
            var wordid = $(this).data('wordid')
            var saveBtn = $(`#save-${wordid}`)
            saveBtn.prop('disabled', false)
        })
	}

	function editTranslation() {
        var wordid = $(this).data('wordid')
        var value = $(this).html()

        $(this).unbind()
        $(this).html(`<input class="translation form-control" data-wordid="${wordid}" id="translation-${wordid}" type="text" value="${value}">`)

        $(`.translation`).on('keyup', function() {
            var wordid = $(this).data('wordid')
            var saveBtn = $(`#save-${wordid}`)
            saveBtn.prop('disabled', false)
        })
	}

	function editExample() {
        var wordid = $(this).data('wordid')
        var value = $(this).html()

        $(this).unbind()
        $(this).html(`<input class="example form-control" data-wordid="${wordid}" type="text" value="${value}">`)

        $(`.example`).on('keyup', function() {
            var wordid = $(this).data('wordid')
            var saveBtn = $(`#save-${wordid}`)
            saveBtn.prop('disabled', false)
        })
	}

	function saveUpdate() {
        var wordid = $(this).data('wordid')
        var saveBtn = $(`#save-${wordid}`)
        var row = $(`.word-row-${wordid}`)

        saveBtn.prop('disabled', true)

		row.css('opacity', "0.5")

		setTimeout(function(){
			row.css('opacity', '1')
		}, 2000)

		var wd = $(`#wd-${wordid}`).val()
		var data = {'id':wordid, 'wd':wd}
		update_word_POST(data)

		var trans = $(`#translation-${wordid}`).val()
		var data = {'id':wordid, 'wd':trans}
		update_translation_POST(data)

	}

	function deleteWord() {
        var wordid = $(this).data('wordid')

        var deleteBtn = $(`#delete-${wordid}`)
		var saveBtn = $(`#save-${wordid}`)
		var cancelBtn = $(`#cancel-${wordid}`)
		var confirmBtn = $(`#confirm-${wordid}`)

		deleteBtn.addClass('hidden')
		saveBtn.addClass('hidden')

		cancelBtn.removeClass('hidden')
		confirmBtn.removeClass('hidden')
	}

	function cancelDeletion() {
        var wordid = $(this).data('wordid')

        var deleteBtn = $(`#delete-${wordid}`)
		var saveBtn = $(`#save-${wordid}`)
		var cancelBtn = $(`#cancel-${wordid}`)
		var confirmBtn = $(`#confirm-${wordid}`)

        deleteBtn.removeClass('hidden')
		saveBtn.removeClass('hidden')

		cancelBtn.addClass('hidden')
		confirmBtn.addClass('hidden')
	}

	function confirmDeletion() {
        var wordid = $(this).data('wordid')
        var row = $(`.word-row-${wordid}`)
        row.remove()
	}
</script>

{% endblock %}