{% extends "base_page.html" %}

{% block page-title %}
Главная страница
{% endblock %}

{% block page-lead %}
Это страничка проекта про изучение английского языка. <br/>
Проектная работа в рамках курса "Программирование на Python".
{% endblock %}

{% block content %}
<div class="container-sm px-5 py-5" id="term-form">
    <form method="post">
        <div class="row px-5 py-2">
            <h3>Ваши контактные данные</h3>
        </div>
        <div class="row px-5 py-2">
            <div class="col-md-6">
                <label for="name">Ваше имя:</label>
                <input type="text" class="form-control input-lg" name="name" id="name" placeholder="Иван" value required>
            </div>
            <div class="col-md-6">
                <label for="email">Ваш контактный email:</label>
                <input type="text" class="form-control input-lg" name="email" id="email" placeholder="ivan@ivanov.com" value required>
            </div>
        </div>
        <div class="row px-5 py-2">
            <h3>Ваш термин</h3>
        </div>
        <div class="row px-5 py-2">
            <div class="col-md-4">
                <label for="new_word">Слово</label>
                <input type="text" class="form-control input-lg" name="new_word" id="new_word">
            </div>
            <div class="col-md-4">
                <label for="new_translation">Перевод</label>
                <input type="text" class="form-control input-lg" name="new_translation" id="new_translation">
            </div>
            <div class="col-md-8">
                <label for="new_example">Пример использования</label>
                <textarea type="text" class="form-control input-lg" name="new_example" id="new_example" aria-describedby="definition_note" rows="3"></textarea>
                <div id="definition_note" class="form-text">Постарайтесь уложиться в одно, максимум два предложения</div>
            </div>
        </div>
        <div class="row px-5 py-2">
            <button type="submit" class="btn btn-primary" formaction="/send-word">Отправить</button>
        </div>
    </form>
</div>
{% endblock %}