{% extends "base_page.html" %}

{% block page-title %}
Список добавленных слов
{% endblock %}

{% block page-lead %}
Для добавления новых слов перейдите по ссылке под таблицей.
{% endblock %}
  

{% block content %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<script src="https://code.jquery.com/jquery-3.4.1.js"></script>

<style>
	.hidden{
        display:none;
    }

    .result{
    	max-width:80px; 
    }

</style>

<h2 class="pb-2 border-bottom">Dictionary</h2>

<div class="row">

	    <div class="col-md-12">

		    <div class="card card-body">

                <div class="table-responsive">
					<table class="table table-striped table-sm">
                    <thead>
                        <tr>
						<th scope="col" class="py-3">#</th>
                        <th scope="col" class="py-3">Word</th>
                        <th scope="col" class="py-3">Translation</th>
                        <th scope="col" class="py-3">Example</th>

                        </tr>
                    </thead>
                    <tbody id="words-table">
                    </tbody>
                    </table>
                </div>

		    </div>

	</div>

	<br><br><br>

	<h2 class="pb-2 border-bottom">Add new words</h2>
	<div class="d-grid gap-2">
		<a href="/add-word" class="btn btn-primary" role="button">Add words</a>
		</button>
	
	</div>


</div>

<script>

	var newId = 1
	var newWord = {'id':`word-${newId}`, 'word':null, 'translation':null, 'example':null}

	// $('#word-id').on('change', function(){
	// 	newWord.id = $(this).val()
	// 	console.log(newTest)
	// })

	// $('#word-word').on('change', function() {
	// 	newWord.word = $(this).val()
	// 	console.log(newWord)
	// })

	// $('#word-translation').on('change', function() {
	// 	newWord.translation = $(this).val()
	// 	console.log(newWord)
	// })

	// $('#word-example').on('change', function() {
	// 	newWord.example = $(this).val()
	// 	console.log(newWord)
	// })

	var words = []

	var dataURL = '/words-api'
	$.ajax({
		method:'GET',
		url:dataURL,
		success:function(response) {
			words = response
			console.log(words)
			for (var i in words){
				addRow(words[i])
			}
		}
	})

	function update_word_POST(data) {
		var url = '/update-word'

		$.ajax({
			method:'POST',
			url:url,
			data:data,
			success:function() {

			}
		})
	}

	function update_translation_POST(data) {
		var url = '/update-translation'

		$.ajax({
			method:'POST',
			url:url,
			data:data,
			success:function() {

			}
		})
	}

	function update_example_POST(data) {
		var url = '/update-example'

		$.ajax({
			method:'POST',
			url:url,
			data:data,
			success:function() {

			}
		})
	}

	function delete_word_POST(data) {
		var url = '/delete-word'

		$.ajax({
			method:'POST',
			url:url,
			data:data,
			seuccess:function() {

			}
		})
	}

	function addRow(obj){
		var row = `<tr scope="row" class="word-row-${obj.id}">
	    			   <td>${obj.id}</td>
	    			   <td id="word-${obj.id}" data-wordid="${obj.id}">${obj.word}</td>
	    			   <td id="translation-${obj.id}" data-wordid="${obj.id}">${obj.translation}</td>
	                   <td id="example-${obj.id}" data-wordid="${obj.id}">${obj.example}</td>
	                   <td>
	                   		<button class="btn btn-sm btn-danger" data-wordid="${obj.id}" id="delete-${obj.id}">Delete</button>
	                   		<button class="btn btn-sm btn-info" disabled data-wordid="${obj.id}" id="save-${obj.id}">Save</button>

	                   		<button class="btn btn-sm btn-danger hidden" data-wordid="${obj.id}" id="cancel-${obj.id}">Cancel</button>
	                   		<button class="btn btn-sm btn-primary hidden" data-wordid="${obj.id}" id="confirm-${obj.id}">Confirm</button>

	                   </td>
	    		   </tr>`
		$('#words-table').append(row)

        $(`#delete-${obj.id}`).on('click', deleteWord)
        $(`#cancel-${obj.id}`).on('click', cancelDeletion)
        $(`#confirm-${obj.id}`).on('click', confirmDeletion)
		$(`#save-${obj.id}`).on('click', saveUpdate)

        $(`#example-${obj.id}`).on('click', editExample)

	}

	function editExample() {
        var wordid = $(this).data('wordid')
        var value = $(this).html()

        $(this).unbind()
        $(this).html(`<input class="example form-control" data-wordid="${wordid}" id="testexample-${wordid}" type="text" value="${value}">`)

        $(`.example`).on('keyup', function() {
            var wordid = $(this).data('wordid')
            var saveBtn = $(`#save-${wordid}`)
            saveBtn.prop('disabled', false)
        })
	}

	function saveUpdate() {
        var wordid = $(this).data('wordid')
        var saveBtn = $(`#save-${wordid}`)
        var row = $(`.word-row-${wordid}`)

        saveBtn.prop('disabled', true)

		row.css('opacity', "0.5")

		setTimeout(function(){
			row.css('opacity', '1')
		}, 2000)

		var example_raw = $(`#testexample-${wordid}`).val()
		if (example_raw == undefined) {
			var example = $(`#example-${wordid}`).html()
		} else {
			var example = example_raw
		}
		if (example.length == 0) {
			alert("The form with example must be filled!")
		} 
		// else if (/\d/.test(example)) {
		// 	alert("No numbers as digits are allowed!")
		// }
		else {
			var data_example = {'id':wordid, 'example':example}
			update_example_POST(data_example)
		}
	}

	function deleteWord() {
        var wordid = $(this).data('wordid')

        var deleteBtn = $(`#delete-${wordid}`)
		var saveBtn = $(`#save-${wordid}`)
		var cancelBtn = $(`#cancel-${wordid}`)
		var confirmBtn = $(`#confirm-${wordid}`)

		deleteBtn.addClass('hidden')
		saveBtn.addClass('hidden')

		cancelBtn.removeClass('hidden')
		confirmBtn.removeClass('hidden')
	}

	function cancelDeletion() {
        var wordid = $(this).data('wordid')

        var deleteBtn = $(`#delete-${wordid}`)
		var saveBtn = $(`#save-${wordid}`)
		var cancelBtn = $(`#cancel-${wordid}`)
		var confirmBtn = $(`#confirm-${wordid}`)

        deleteBtn.removeClass('hidden')
		saveBtn.removeClass('hidden')

		cancelBtn.addClass('hidden')
		confirmBtn.addClass('hidden')
	}

	function confirmDeletion() {
        var wordid = $(this).data('wordid')
        var row = $(`.word-row-${wordid}`)
        row.remove()
		var data = {'id':wordid}
		delete_word_POST(data)
	}
</script>

{% endblock %}